.chat-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  min-height: calc(100vh - 60px);
  max-height: 100%;
  overflow-y: scroll;
  padding-bottom: 60px;
}

@media only screen and (max-width: 800px) {
  .chat-container {
    width: 95%;
  }
}

.chat-container::-webkit-scrollbar {
  display: none;
}
