/* INPUT */
.input-wrap {
  position: fixed;
  z-index: 100;
  min-height: 100px;
  max-height: 320px;
  width: 750px;
  bottom: 10px;
  left: calc(50% + var(--sidebar-width-collapsed) / 2);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 0px 40px 40px var(--color-background);

  border-radius: var(--radius-md);
  background-color: var(--violet-3);
  border: 1px solid var(--violet-8);
  outline: none;
  /* overflow: hidden; */
  transition: all 0.15s ease-in-out;
}

.input-wrap:has(.chat-input:focus) {
  outline: 1.5px solid var(--color-primary);
}

.input-wrap.sidebar-open {
  left: calc(50% + var(--sidebar-width-expanded) / 2);
}

/* INPUT TOP */
.input-top {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;

  padding: 10px;
  box-sizing: border-box;
}

.chat-input {
  flex: 1;
  width: 100%;
  min-height: 50px;
  max-height: 250px;
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  overflow-y: auto;

  scrollbar-gutter: stable;
  scrollbar-color: var(--violet-7) transparent;
  scrollbar-width: thin;
}

/* INPUT BOT */
.input-bot {
  flex: 0 0 40px;
  width: 100%;
  padding: 0 5px 5px 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-bot-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-bot-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.submit-prompt {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-primary);
  cursor: pointer;
}

.submit-prompt:hover {
  background-color: var(--violet-10);
}

.submit-prompt.disabled {
  background-color: var(--violet-7);
  cursor: default;
}

/* INPUT STATUS */
.input-status {
  height: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 10px;

  font-size: var(--text-xs);
  background: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 99px;
  box-shadow: var(--shadow-sm);
  user-select: none;
}

.input-status .divider {
  width: 1px;
  height: 100%;
  background: var(--color-border);
}

@media only screen and (max-width: 800px) {
  .input-wrap {
    width: 95%;
  }
  .input-status {
    height: 20px;
    padding: 0 4px;
  }
}

/* STOP TASK  */
.stop-task-btn {
  height: 24px;
  display: inline-flex;
  align-items: center;
  padding: 0px 6px;

  font-size: var(--text-xs);
  background: var(--red-9);
  color: var(--color-background);
  border: 1px solid transparent;
  border-radius: 99px;
  box-shadow: var(--shadow-sm);
  user-select: none;
  cursor: pointer;
}

.stop-task-btn:hover {
  background-color: var(--red-10);
}

/* INPUT LOADER */
.input-loader {
  position: fixed;
  bottom: 130px;
  left: 50%;
}
