.message-last {
  margin-bottom: 100px;
}
.message {
  width: 85%;
  padding: 16px;
  border-radius: 40px;
  border-top-left-radius: 0;
  overflow-x: hidden;
  white-space: pre-wrap;
  font-size: 14px;
  color: var(--color-text);
}

.message-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.message-header-text {
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  border: 1px solid var(--violet-6);
}

.message-header-text.clarification {
  border-radius: 20px;
  background-color: var(--orange-9);
  color: white;
}
.message-header-text.error {
  border-radius: 20px;
  color: white;
  background-color: var(--red-9);
}

.message-content {
  padding: 8px 0 20px 0;
  border-radius: 6px;
}

.message-content.error {
  color: var(--red-9);
}

.message-collapsed {
  max-height: 102px;
  overflow: hidden;
}

.message-expand-wrapper {
  padding-top: 8px;
  display: flex;
  justify-content: flex-start;
}

/* Message User */
.message-user {
  max-width: 85%;
  width: fit-content;
  margin-left: auto;

  padding: 16px;
  border-radius: 40px;
  border-top-right-radius: 4px;
  white-space: pre-wrap;
  font-size: 14px;
  color: var(--color-text);
  background-color: var(--indigo-4);
}

.message-user-expand-wrapper {
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
}
