/* MESSAGE */
.message {
  width: 85%;
  padding: 16px;
  border-radius: 40px;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* HEADER */
.message-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.message-header-text {
  padding: 2px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--slate-8);
}

.message-header-text.clarification {
  border-radius: 20px;
  color: white;
  background-color: var(--orange-9);
}
.message-header-text.error {
  border-radius: 20px;
  color: white;
  background-color: var(--red-9);
}
.message-header-text.success {
  border-radius: 20px;
  color: white;
  background-color: var(--green-10);
}

/* CONTENT */
.message-content {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.message-content.error {
  color: var(--red-9);
}

.message-expand-wrapper {
  display: flex;
  justify-content: center;
}

/* MESSAGE USER */
.message-user {
  max-width: 85%;
  width: fit-content;
  margin-left: auto;

  padding: 16px;
  border-radius: 40px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
