.msg-limit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0 12px;
  border-radius: 99px;
  border: 1px solid var(--gray-8);
  background-color: white;
  color: var(--gray-10);
  gap: 8px;
}

.msg-limit h1 {
  font-size: var(--text-xs);
  line-height: 1;
}

.msg-limit-input {
  width: 14px;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 600px) {
  .msg-limit {
    height: 30px;
    gap: 1px;
    padding: 0 6px;
  }

  .msg-limit h1 {
    font-size: 11px;
  }

  .msg-limit-input {
    width: 14px;
    aspect-ratio: 1 / 1;
  }
}
