.nav-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--color-text);
  flex-direction: row;
  gap: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(100px);
  transition: padding-left 0.3s ease-out;
  -webkit-transition: padding-left 0.3s ease-out;
  -moz-transition: padding-left 0.3s ease-out;
  -ms-transition: padding-left 0.3s ease-out;
  -o-transition: padding-left 0.3s ease-out;
}

.nav.nav-shifted {
  padding-left: 280px;
}

.logo > img {
  height: 40px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 10px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}

button.create-task-button {
  color: var(--color-background);
  background-color: var(--color-secondary);
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  cursor: pointer;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  height: 40px;
  gap: 10px;
  padding: 0px 4px;
  -webkit-border-radius: var(--radius-sm);
  -moz-border-radius: var(--radius-sm);
  -ms-border-radius: var(--radius-sm);
  -o-border-radius: var(--radius-sm);
}

button.create-task-button:hover {
  color: var(--violet-9);
  background-color: var(--violet-3);
  border: 1px solid var(--violet-6);
  border-radius: var(--radius-sm);
}

@media screen and (max-width: 600px) {
  .create-task-button {
    max-width: fit-content;
    font-size: var(--text-xs);
    max-height: 30px;
  }
}

.Sidebar-toggle {
  background: none;
  border: 1px solid transparent;
  color: var(--color-background);
  background-color: var(--color-secondary);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 99999999999; */
  border-radius: var(--radius-sm);
}

.Sidebar-toggle:hover {
  opacity: 1;
  color: var(--violet-9);
  background-color: var(--violet-3);
  border: 1px solid var(--violet-6);
  border-radius: var(--radius-sm);
}

@media screen and (max-width: 600px) {
  .Sidebar-toggle {
    max-width: 30px;
    aspect-ratio: 1/1;
    max-height: 30px;
  }
}
