.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: calc(var(--sidebar-width-collapsed));
  right: 0;
  width: calc(100% - var(--sidebar-width-collapsed));
  height: 60px;
  padding: 10px 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  background-color: transparent;
  color: var(--color-text);

  backdrop-filter: blur(100px);
  transition: all var(--sidebar-duration) ease-in-out;
}

.nav.sidebar-open {
  left: calc(var(--sidebar-width-expanded));
  width: calc(100% - calc(var(--sidebar-width-expanded)));
}

.nav-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.place-center {
  justify-content: center;
}
.place-right {
  justify-content: end;
}

.logo > img {
  height: 40px;
  width: auto;
}

.navbar-btn {
  color: var(--color-background);
  background-color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 40px;
  gap: 10px;
  padding: 0px 4px;
}

.navbar-btn:hover {
  color: var(--violet-9);
  background-color: var(--violet-3);
  border: 1px solid var(--violet-6);
}

@media screen and (max-width: 600px) {
  .navbar-btn {
    line-height: 1;
    max-width: fit-content;
    font-size: var(--text-xs);
    max-height: 30px;
  }
}

.toggle {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
