@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";
@import "tailwindcss";
:root {
  --color-primary: #4f46e5;
  --color-secondary: #4338ca;
  --color-background: rgb(255, 255, 255);
  --color-text: rgb(29, 33, 41);
  --color-border: rgb(174, 186, 199);
}
/* reset */
button {
  all: unset;
}

.DropdownMenuContent,
.DropdownMenuSubContent {
  min-width: 150px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  border: 1px solid var(--color-primary);

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: 213;
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
  font-size: 13px;
  line-height: 1;
  color: var(--violet-11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 15px;
  user-select: none;
  outline: none;
  border-radius: var(--rounded-sm);
  -webkit-border-radius: var(--rounded-sm);
  -moz-border-radius: var(--rounded-sm);
  -ms-border-radius: var(--rounded-sm);
  -o-border-radius: var(--rounded-sm);
}
.DropdownMenuSubTrigger[data-state="open"] {
  background-color: var(--violet-4);
  color: var(--violet-11);
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  background-color: var(--violet-3);
  color: var(--violet-9);
}

.DropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.DropdownMenuArrow {
  fill: white;
}

.IconButton {
  font-family: inherit;
  border-radius: var(--radius-sm);
  height: fit-content;
  /* width: 100px; */
  min-width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  color: var(--violet-11);
  background-color: transparent;

  gap: 10px;
  padding: 4px;
  border: 1px solid transparent;
  background-color: var(--color-primary);
  color: var(--color-background);
}
.IconButton:hover {
  /* transition: 50ms; */
  color: var(--violet-9);
  background-color: var(--violet-3);
  border: 1px solid var(--violet-6);
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve-11);
}
[data-highlighted] > .RightSlot {
  color: var(--violet-11);
}
[data-disabled] .RightSlot {
  color: var(--color-violet-500);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mock-icon {
  width: 30px; /* Or whatever size you prefer */
  aspect-ratio: 1 / 1; /* Ensures the icon is square */
  border-radius: 50%; /* Makes it a circle */
  background-color: var(--color-primary);
  color: white;
  display: flex; /* For centering the text */
  align-items: center; /* Vertical center */
  justify-content: center; /* Horizontal center */
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold;
}
