.last {
  margin-bottom: 20%;
}
.message:last-child {
  margin-bottom: 10px;
}
.message p,
.message div {
  /* margin: 0; */
  /* padding: 0; */
  line-height: normal;
}

.click-animation {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.spin {
  animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
.pulse {
  transition: transform 200ms;
  animation: pulse 3s infinite ease-in-out;
  animation-direction: alternate;
  -webkit-animation: pulse 3s infinite ease;
  -webkit-transition: transform 200ms;
  -moz-transition: transform 200ms;
  -ms-transition: transform 200ms;
  -o-transition: transform 200ms;
}
