/* ROOT */
.logs-filters-root {
  position: fixed;
  top: 60px;
  left: 50%;
  width: 750px;
  height: 50px;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
}

.logs-filters-root > div {
  width: 100%;
}

/* LIST */
.logs-filters-list {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  list-style: none;

  background-color: var(--violet-4);
  border-radius: 8px;
}

.logs-filters-list > * {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* TRIGGER (ITEM) */
.logs-filters-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
  color: var(--violet-10);
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.logs-filters-trigger:hover {
  background-color: var(--violet-3);
}

.logs-filters-caret {
  position: relative;
  transition: transform 250ms ease;
}

.logs-filters-trigger[data-state="open"] .logs-filters-caret {
  transform: rotate(-180deg);
}

/* CONTENT */
.logs-filters-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

.logs-filters-content[data-motion="from-start"] {
  animation-name: enterFromLeft;
}
.logs-filters-content[data-motion="from-end"] {
  animation-name: enterFromRight;
}
.logs-filters-content[data-motion="to-start"] {
  animation-name: exitToLeft;
}
.logs-filters-content[data-motion="to-end"] {
  animation-name: exitToRight;
}

.logs-filters-viewport-position {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.logs-filters-viewport {
  position: relative;
  transform-origin: top center;
  margin-top: 3px;
  width: 100%;
  background-color: var(--violet-1);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}

.logs-filters-viewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}

.logs-filters-viewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}

/* INDICATOR ARROW */
.logs-filters-indicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 6px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}

.logs-filters-indicator[data-state="visible"] {
  animation: fadeIn 200ms ease;
}

.logs-filters-indicator[data-state="hidden"] {
  animation: fadeOut 200ms ease;
}

.logs-filters-arrow {
  position: relative;
  top: 70%;
  background-color: var(--violet-6);
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-top-left-radius: 1px;
}

/* ANIMATIONS */
@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ITEM CONTENT DROPDOWN */
.logs-filters-dropdown {
  display: block;
  padding: 16px;
  margin: 0;
  list-style: none;
  min-width: 200px;

  font-size: 13px;
}

.logs-filters-dropdown li {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 150ms ease;
  color: var(--violet-11);
}

.logs-filters-dropdown li:hover {
  background-color: var(--violet-3);
}

.logs-filters-dropdown li.active {
  background-color: var(--violet-9);
  color: white;
}

/* ITEM CONTENT LEVEL */
.log-filters-level {
  width: 100%;
  height: 100%;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.log-filters-level-label {
  font-size: 13px;
  color: var(--violet-11);
}

.log-filters-level-input {
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
  color: var(--gray-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}

.log-filters-level-input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
  outline: 0;
}

/* ITEM CONTENT TAGS */
.logs-filters-tags {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logs-filters-tags-header {
  display: flex;
  justify-content: center;
  /* margin-bottom: 8px; */
}

.logs-filters-tags-toggle-all {
  background-color: var(--violet-9);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.logs-filters-tags-toggle-all:hover {
  background-color: var(--violet-10);
}

.logs-filters-tags-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 32px;
  align-items: start;
}

.logs-filters-tags-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logs-filters-tags-label {
  font-size: 13px;
  color: var(--violet-11);
  cursor: pointer;
  user-select: none;
}

.logs-filters-tags-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.logs-filters-tags-checkbox:checked {
  accent-color: var(--violet-9);
}

.log-filters-tags-empty {
  text-align: center;
  color: var(--violet-8);
}
