@import "tailwindcss";
/* @layer theme, base, components, utilities; */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #6b46c1;
  --color-secondary: #620ef3;
  --color-background: rgb(255, 255, 255);
  --color-text: #1d2129;
  --color-border: #aebac7;
}
*::selection {
  background-color: var(--color-violet-300);
  color: white;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 90svh; */
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;

  border-radius: 10px;
}
button[type="submit"] {
  background-color: var(--color-primary);
  color: var(--color-background);
  margin-top: var(--text-xs);
  padding: 8px;
  border-radius: var(--radius-md);
  -webkit-border-radius: var(--radius-md);
  -moz-border-radius: var(--radius-md);
  -ms-border-radius: var(--radius-md);
  -o-border-radius: var(--radius-md);
}
.inputButton {
  color: black;
  box-shadow: inset 0px 1px 2px 1px var(--color-gray-300);
  padding-left: 2px;
  height: 30px;
  border-radius: var(--radius-md);
  -webkit-border-radius: var(--radius-md);
  -moz-border-radius: var(--radius-md);
  -ms-border-radius: var(--radius-md);
  -o-border-radius: var(--radius-md);
  width: 95%;
}

@theme {
  --animate-gradient: gradient 8s linear infinite;
  --color-custom-30: #4f46e5;
  --bg-custom-30: #4f46e5;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
button.background{
  z-index: 21;
  width: 50%;
  text-align: center;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#selectId{
  padding: 8px; 
  width: 60px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  -webkit-border-radius: var(--radius-md);
  -moz-border-radius: var(--radius-md);
  -ms-border-radius: var(--radius-md);
  -o-border-radius: var(--radius-md);
}
#selectId:focus{
  outline: none;
}
#checkTrimmedArray{
  color: black;
}